@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
}

.header {
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.customization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.color-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

#color-picker {
    width: inherit;
    height: inherit;
    border: none;
    background-color: transparent;
    transform: scale(2);
}

button:hover {
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    transform: scale(1.05);
}

button {
    cursor: pointer;
    background-color: whitesmoke;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-radius: 8px;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: transform 0.2s ease-in;
}

.selected {
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
}

.grid-size-output {
    font-size: 1.4rem;
    font-weight: 500;
}

.grid-size-range {
    -webkit-appearance: none;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 8px;
    background-color: transparent;
    height: 8px;
    width: 100%;
}

.grid-size-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: rgb(51, 51, 51);
    cursor: pointer;
}
